.container
  .row
    = form_for @user, url: '/session' do |f|
      %div
        = f.label :email
        = f.text_field :email

      %div
        = f.label :password
        = f.text_field :password

      = f.submit 'OK', class: "btn"

    = link_to 'Signup', new_user_path
