%div.container-fluid
  %div.row-fluid
    %center
      =image_tag "bottle.jpg"
      = form_for @bottle, url: bottles_path do |f|
        %div
          = f.text_area :message, placeholder: "どんな幸せがありましたか?"

        = f.submit "#{@partner.name.presence || @partner.email}さんへ瓶を流す", class: "btn btn-primary  btn-large"

    :javascript
      var word_array = #{
          @key_words.map {|key_word|
            {text: key_word[:word] , weight: key_word[:weight], link: bottles_tag_path(tag: key_word[:word]) }
          }.to_json
        };

      $(function() {
        $("#example").jQCloud(word_array,{
          shape: "rectangular"
        });
      });

    %div#example{ style: "width: 100%; height: 200px;"}
