%div.container-fluid
  %div.row-fluid

    = form_for @user, url: users_path do |f|
      %div
        = f.label :email
        = f.text_field :email

      %div
        = f.label :password
        = f.text_field :password

      %div
        = f.label :invitation
        = text_field_tag :invitation

      = f.submit 'OK', class: "btn"

    = link_to 'Signin', new_session_path
