%div.container-fluid
  %div.row-fluid

    = form_for @user, url: users_path do |f|
      %div
        = f.label :name
        = f.text_field :name, required: true

      %div
        = f.label :email
        = f.text_field :email, required: true

      %div
        = f.label :password
        = f.password_field :password, required: true

      %div
        = f.label :invitation_email
        = text_field_tag :invitation, nil, placeholder: 'your.partner@exmpale.com', required: true

      = f.submit 'OK', class: "btn"

    = link_to 'Signin', new_session_path
