!!!
%html
  %head
    %title HappyBottle
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="viewport" content="width=device-width initial-scale=1.0 user-scalable=no")
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            %a.brand(href='/') HappyBottle

    - {notice: 'success', alert: 'error'}.each do |key, name|
      - if flash[key]
        .alert{class: "alert-#{name}"}
          = flash[key]

    .content-wrapper
      = yield

    %footer.footer
      .container
        %p
          %i © 2013 HappyBottle. All rights reserved.
